<div id="content">
  <label for="scale" i18n="scale">Scale</label>
  <span id="scale"></span>
  <girafe-menu-button icon-style="fa-sm fa-solid fa-caret-up" size="small" open="up" class="transparent">
    <div slot="menu-content">
      <div id="container"></div>
    </div>
  </girafe-menu-button>
</div>
