:host {
  min-width: 18rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

.hidden {
  display: none;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.gutter {
  border: none;
  width: 5px;
  height: 100%;
  background: var(--bkg-color);
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
}

.hide {
  border: solid 1px #999;
  border-left: none;
  color: var(--text-color-grad2);
  padding: 0.7rem 0.5rem 0.7rem 0;
  border-radius: 0 10px 10px 0;
  width: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  position: fixed;
  top: 5.8rem;
  left: 25rem;
  background-color: var(--bkg-color);
  cursor: pointer;
}

.hide i:before {
  content: '\f104';
}

.hide.closed {
  left: 5px !important;
}

.hide.closed i:before {
  content: '\f105';
}

.hide:hover {
  border-color: #000;
  color: var(--text-color);
}

.menu {
  border-top: solid 1px #bbb;
  background-color: var(--bkg-color);
  height: 2.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 6px;
  z-index: 1;
  font-size: 0;
}

.treeview-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 5px;
  bottom: 2.3rem;
  background: var(--bkg-color);
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 0.7rem;
  margin: 0;
  margin-top: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.menu i {
  margin-top: 1rem;
  color: var(--text-color-grad1);
  margin-right: 0.2rem;
  width: 3rem;
}

#menu i.selected {
  color: var(--text-color);
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  color: #000;
}

girafe-basemap {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 1000px) {
  .panel {
    width: 18rem;
  }

  .hide {
    left: 18rem;
    top: 8.3rem;
  }
}
