.hidden {
  display: none;
}

#searchbox {
  background-color: var(--bkg-color);
  border-right: none;
  height: 2.5rem;
  border-radius: 6px;
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: var(--bx-shdw);
}

#search {
  font-size: 1rem;
  outline: none;
  margin: 0 0 0 0.5rem;
  padding-left: 0.8rem;
  border: 0;
  height: 2.2rem;
  width: auto;
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -webkit-appearance: none;
  background: transparent;
  color: var(--text-color);
}

.search-icon {
  display: inline-block;
  width: 20px;
  height: 25px;
  color: var(--text-color);
  background-position: -121px 1px;
  padding: 9px 10px;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  -moz-background-clip: content-box;
  -moz-background-origin: content-box;
  -webkit-background-clip: content-box;
  -webkit-background-origin: content-box;
}

#results {
  z-index: 1000;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 3.5rem;
  width: 36rem;
  max-height: 31rem;
  background-color: var(--bkg-color);
  overflow-x: hidden;
  scrollbar-width: thin;
}

.result,
.title {
  display: inline-block;
  padding: 0.3rem 1rem;
  width: Calc(36rem - 2rem);
  border-top: solid 1px #ccc;
  line-height: 1.3rem;
}

.title {
  background-color: #555;
  color: var(--text-color);
  font-weight: 600;
  line-height: 2.5rem;
  font-size: 1.2rem;
}

.result {
  cursor: pointer;
}

.title i {
  margin-right: 1rem;
}

.result:hover {
  background-color: #aaa;
  color: var(--text-color);
}

.active {
  background-color: #aaa !important;
  color: var(--text-color);
}

@media screen and (max-width: 1000px) {
  #searchbox {
    border-radius: 0;
    border: solid 1px #666;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: none;
  }

  #results {
    top: 7rem;
    left: 2rem;
  }
}
