.item {
  color: #999;
  border-top: solid 1px #ddd;
  line-height: 1.3rem;
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  color: var(--text-color);
}

.selected {
  cursor: pointer;
  color: var(--text-color);
}

i {
  width: 0.8rem;
  text-align: center;
  min-width: 0;
  padding-top: 0.45rem;
  margin-left: 0.3rem;
}

.expand-spacer {
  order: 1;
  width: 0.5rem;
}

.circle-on,
.circle-off {
  order: 2;
  padding-top: 0.25rem;
  margin-left: 0.2rem;
  margin-right: 0.1rem;
  cursor: pointer;
}

.legend-icon {
  order: 2;
  max-height: 1rem;
  padding-top: 0.25rem;
  margin-left: 0.2rem;
  cursor: pointer;
  object-fit: none;
}

.error {
  order: 3;
  color: #b00;
}

.text {
  order: 4;
  display: inline-block;
  margin: 0.2rem;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 0;
}

.text.filtered {
  background-color: var(--bkg-color-grad2);
  color: var(--text-color-grad2);
}

.resolution {
  order: 5;
}

.swipe-left {
  order: 5;
}

.swipe-right {
  order: 7;
}

.movedown {
  order: 8;
}

.moveup {
  order: 9;
}

.opacity {
  order: 10;
}

.filter {
  order: 11;
}

.legend {
  order: 12;
}

.item i.advanced {
  display: none;
}

.item.advanced i.advanced {
  display: block;
}

.legend-file,
.legend-image {
  margin-left: 1rem;
}

.legend-file {
  font-style: italic;
}
